.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid white;
}

.navbarOption {
  margin: 0 5px;
  cursor: pointer;
  transition: border 0.3s;
  border-bottom: 1px solid transparent;
}

.navbarText {
  font-size: 20px;
  line-height: 20px;
}

.active {
  border-bottom: 1px solid green;
}

.body {
  flex: 1;
  display: flex;
}

.loadingContent {
  flex: 1;
  width: 100%;
}

.bodyContent {
  flex: 1;
  width: 100%;
}
